.hero {
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(80deg, $primary 0%, $dark 100%);
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  padding: 150px 0 50px;
  color: $white;
  @include bottom-shape-cutout();
  h1 {
    font-size: 3rem;
    line-height: 1;
    @include media-breakpoint-up(lg) {
      font-size: 3.5rem;
    }
    font-weight: 300;
  }

  // subnav
  .nav {
    .nav-item {
      padding: 0;
      margin-right: 20px;
      .nav-link {
        color: $white;
        text-transform: uppercase;
        font-size: 0.9rem;
        padding: 0;
      }
    }
  }
}
