.searchInput {
  position: relative;
  display: block;
  text-transform: uppercase;
  padding: 0.5rem 4rem 0.3rem;
  border-radius: 3rem;
  text-transform: uppercase;
  color: $primary;
  font-size: 1.5rem;
  font-weight: 400;
  &:focus {
    outline: none;
  }
  &::placeholder {
    text-align: center;
    color: $body-color;
  }  
}

.searchInputWrapper {
  position: relative;
  
  .remixicon-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(85deg);
    right: 15px;
    pointer-events: none;
  }
}




/* Search Page */
.searchForm input:focus{
  outline: none;
}
.searchForm .resultCount{
  width:8rem;
  border-width:2px !important;
}
.searchResults .result-title{
 
}
.searchResults a:hover .result-title{
 color:$blue !important;
}
.searchResults .more-results{
  height:0;
  opacity:0;
  overflow:hidden;
  transition:all 0.5s linear;
}
.searchResults .more-results.expanded{
  height:auto;
  opacity:1;
  overflow:hidden;
}


