// Ticker settings
$column-width: 15%;
$gutter-width: 1%;

.ticker {
  display: flex;
  align-items: center;
  width: 100%;
  // @include animation(ticker, 12s, 0, linear, infinite);
  .ticker-item {
    width: $column-width;
    margin-right: $gutter-width;
  }
  @for $i from 1 through 20 {
    &.ticker-#{$i} {
      width: calc(#{$column-width + $gutter-width} * 2 * #{$i});
      @include animation(ticker, 7s * $i, 0, linear,  infinite);
    }
  }
}