hr {
  &.hr-white {
    border-top: 4px solid $white;
  }
}

.hr-styled {
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%) rotate(-225deg);
    background-color: $white;
    border-color: rgba($dark, 0.5);
    border-width: 1px 1px 0 0;
    border-style: solid;
  }
}

.hr-sm {
  width: 100px;
  border-top: 4px solid $cyan;
}

.hr-xs {
  width: 40px;
  border-top: 4px solid $cyan;
}


.folder-border {
  position: relative;
  &::before {
    content: '';
    display: block;
  }
  &.folder-top {
    @include top-shape-cutout();
    &.border-light {
      @include top-shape-cutout(33%, $light, 20px);
    }
    &.border-primary {
      @include top-shape-cutout(33%, $primary, 20px);
    }
  }

  &.folder-bottom {
    @include bottom-shape-cutout();
  }
}

.border-bracket {
  padding: 0 20px;
  position: relative;
  &::before,
  &::after {
    content: '';
    display: block;
    width: 5px;
    height: 100%;
    position: absolute;
    border-style: solid;
    border-color: $primary;
    top: 0;
  }
  &::before {
    left: 0;
    border-width: 1px 0 1px 1px;
  }
  &::after {
    right: 0;
    border-width: 1px 1px 1px 0;
  }
}

.border-bracket-bottom {
  width: 50%;
  height: 5px;
  display: block;
  border-style: solid;
  border-color: $primary;
  border-width: 0 1px 1px 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}