#pageFooter {
  color: $dark;
  overflow: hidden;
  background: transparent linear-gradient(180deg, $primary 0%, $dark 100%) 0% 0% no-repeat padding-box;
  h3 {
    text-transform: uppercase;
  }
  h6 {
    a {
      color: $white;
    }
  }
  .nav-link {
    color: $dark;
    padding-left: 0;
    padding-right: 0;
    font-size: 1rem;
    padding: 0.3rem 0;
    color: $white;
  }
  .navbar-brand {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    img {
      height: 25px;
    }
  }
  svg {
    path {
      fill: $dark !important;
    }
  }
  .btn {
    line-height: 1rem;
    font-size: 1rem;
  }
  .socialnav {
    .icon-circle-bg {
      background-color: $white;
    }
  }
  // offset for extra space created under slick-slider
  .slick-slider {
    margin-bottom: -40px;
  }
}
