.hero {
  position: relative;
  display: block;
  height: auto;
  padding: 160px 0 0;
  // padding-top: calc(10vw + 80px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: $primary;
  background-image: linear-gradient(290deg, $dark 0%, $blue 100%);
  overflow: hidden;
  @include bottom-shape-cutout();
  &.hero-lg {
    // padding-top: calc(43vw + 100px);
  }
  .bg-content {
    position: relative;
    align-items: flex-end;
  }

  img.img-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  // subnav
  .nav {
    .nav-item {
      padding: 0;
      margin-right: 20px;
      .nav-link {
        color: $white;
        text-transform: uppercase;
        font-size: 0.9rem;
        padding: 0;
      }
    }
  }
}
