.hero {
  position: relative;
  display: block;
  height: auto;
  padding: 160px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: $primary;
  background-image: linear-gradient(290deg, $dark 0%, $blue 100%);
  overflow: hidden;
  @include bottom-shape-cutout();
  .bg-content {
    position: relative;
    align-items: flex-end;
    padding-bottom: 2rem;
    @include media-breakpoint-up(lg) {
      padding-bottom: 1rem;
    }
  }

  .img-cover {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  // subnav
  .nav {
    .nav-item {
      padding: 0;
      margin-right: 20px;
      .nav-link {
        color: $white;
        text-transform: uppercase;
        font-size: 0.9rem;
        padding: 0;
      }
    }
  }
  

  &.bg-hero-carousel {
    padding-top: 0;
    .bg-content {
      position: relative;
      padding-top: 100px;
      @include media-breakpoint-up(lg) {
        position: absolute;
        align-items: center;
      }
    }
    .bg-image {
      background-position: center bottom !important;
      padding-top: 120%;
      @include media-breakpoint-up (lg) {
        padding-top: 56.25%;
      }
    }
    .slick-slider {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .slick-list,
      .slick-track {
        height: 100%;
      }
    }
  }
}
