#pageContent {
  overflow: hidden;
  // padding-top: 56px;
  @include media-breakpoint-up(lg) {
    // padding-top: 78px;
  }
}

// Carried over from the legacy site. There are Advanced custom fields that set these column widths.

.col_1-4 {
  @extend .col-lg-3;
}   

.col_1-3 {
  @extend .col-lg-4;
} 

.col_1-2 {
  @extend .col-lg-6;
} 

.col_2-3 {
  @extend .col-lg-9;
} 
  
.col_3-4 {
  width: 75%; 
  @extend .col-lg-8;
} 
  
.col_full {
  @extend .col-12; 
}
  
.col_s-1-2 {
  @extend .col-6;
} 

.col_s-1-3 { 
  @extend .col-4;
} 

.col_s-2-3 {
  width: 66.666%;
  @extend .col-8;
}
