@mixin transition($duration: 0.3s, $property: all, $effect: ease-in-out) {
  transition: $property $duration $effect;
}

@mixin animation($effect: fadeIn, $duration: 0.5s, $delay: 0s, $timing: linear, $count: 1) {
  animation-name: $effect;
  animation-duration: $duration;
  animation-fill-mode: both;
  animation-delay: ($delay);
  animation-timing-function: $timing;
  animation-iteration-count: $count;
}

@mixin gradient-variant($parent, $color) {
  #{$parent} {
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 10vw;
      width: 100%;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      z-index: 100;
    }
    &.gradient-up {
      &::before {
        top: -10vw;
        background: linear-gradient(
          0deg,
          rgba($color, 1) 0%,
          rgba($color, 1) 5%,
          rgba($color, 0) 95%,
          rgba($color, 0) 100%
        );
      }
    }
    &.gradient-down {
      &::after {
        bottom: -10vw;
        background: linear-gradient(
          180deg,
          rgba($color, 1) 0%,
          rgba($color, 1) 5%,
          rgba($color, 0) 95%,
          rgba($color, 0) 100%
        );
      }
    }
    // TODO: Add left and right if necessary?
  }
}

@mixin curved-variant($parent, $color) {
  #{$parent} {
    position: relative;
    // background-image: url("/img/swell.svg");
    // background-color: transparent;
    // background-size: 200%;
    // background-position: 2% 95%;
    // background-repeat: no-repeat;
    // height: 10vw;
    // width: 100%;
    // &.curved-inset {
    // }
  }
}

@mixin bottom-shape-cutout($width: 33%, $color: $white, $size: 20px) {
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: $width;
    height: 3px;
    margin-right: 0;
    border: $size solid transparent;
    border-bottom-color: $color;
    border-bottom-width: $size;
    border-bottom-style: solid;
    border-right: 0;
    z-index: 9999;
  }
}

@mixin top-shape-cutout($width: 33%, $color: $white, $size: 20px) {
  &:after {
    content: "";
    position: absolute;
    top: -40px;
    right: 0;
    width: $width;
    height: 3px;
    margin-right: 0;
    border: $size solid transparent;
    border-bottom-color: $color;
    border-bottom-width: $size;
    border-bottom-style: solid;
    border-right: 0;
  }
}
