
.home-hero {
  @include media-breakpoint-up(lg) {
    padding-top: 56.25%;
    @include transition(0.5s);
    .bg-content {
      position: absolute;
      align-items: center;
      
    }
  }
  
}

body.has-scrolled {
  @include media-breakpoint-up(lg) {
    .home-hero {
      padding-top: 45%;
    }
  }
}

