.highlight {
  .highlight-description {
    display: none;
  }
  .highlight-title {
    display: block;
  }
  &.show-description {
    .highlight-description {
      display: block;
    }
    .highlight-title {
      display: none;
    }
  }
}