hr {
  &.hr-white {
    border-top: 4px solid $white;
  }
}


.folder-border {
  position: relative;
  &.folder-top {
    @include top-shape-cutout();
    &.border-light {
      @include top-shape-cutout(33%, $light, 20px)
    }
  }

  &.folder-bottom {
    @include bottom-shape-cutout();
  }
}

.border-bracket {
  padding: 0 20px;
  position: relative;
  &::before,
  &::after {
    content: '';
    display: block;
    width: 5px;
    height: 100%;
    position: absolute;
    border-style: solid;
    border-color: $primary;
    top: 0;
  }
  &::before {
    left: 0;
    border-width: 1px 0 1px 1px;
  }
  &::after {
    right: 0;
    border-width: 1px 1px 1px 0;
  }
}